header {
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all 0.5s linear;
    animation: down 1s ease;
}

@keyframes down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.nav-mobile {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0 !important;
}

.logo {
    width: 20%;
}

.logo img {
    width: 30%;
}

.nav-bar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    width: 20%;
}

.cart {
    position: relative;
}

.cart .cart-quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 14px;
    color: #fff;
    background-color: #ff7245;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.header svg {
    font-size: 20px;
    color: #000;
}

.nav-item.active {
    color: #ff7245;
    border-bottom: 3px solid #ff7245;
    transform: translateY(1px);
}

a.active svg {
    color: #ff7245;
}

.ant-drawer-header-title {
    flex-direction: row-reverse;
}

.ant-drawer-header-title svg:hover {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

a:hover,
a:hover svg {
    color: #ff7245;
    opacity: 1;
}

@media (max-width: 768px) {
    .nav-mobile {
        display: block;
        width: 35%;
    }

    .nav-mobile svg:hover {
        transform: scale(1.3);
        transition: all 0.3s linear;
        color: #ff7245;
    }

    .action {
        width: 35%;
    }

    .logo {
        width: 30%;
    }

    .logo img {
        display: block;
        margin: 0 auto;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar-mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-bar-mobile img {
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 12px;
    }

    .nav-bar-mobile a {
        display: inline-block;
        padding: 8px 16px;
    }
}